.gridview {
    padding: 5rem;
    padding-top: 7rem;
}

.gridrow {
    padding-bottom: 5rem;
    float: left;

}

.gridrow .card{
    max-height: 240px;
    max-width: 255px;
    font-size: 16px;
}


/*.gridcontainer {*/
    /*padding: -15rem;*/
/*}*/