.carousel-control-next {
    margin-right: -1rem;
}

.carousel-control-prev{
    margin-left: -1rem;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300E88F' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300E88F' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators{
    filter: invert(20%);
    margin-bottom: -30px;
}

.carousel-indicators .active{
    background-color: #00E88F;
}

.carddeck{
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: flex-start !important;
}

.carousel{
    margin-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
}

.carouseltitle {
    padding-left: 10rem;
    padding-bottom: 1rem;
    font-size: 18px;
}


