.carousel-control-next {
    filter: invert(100%);
    margin-right: -10rem;
}

.carousel-control-prev{
    filter: invert(100%);
    margin-left: -10rem;
}

.carousel-indicators{
    filter: invert(100%);
    margin-bottom: -30px;
}
.carddeck{
    padding-left: 5rem;
    padding-right: 5rem;
}

.carousel{
    margin-bottom: 5rem;
}

.carouseltitle {
    padding-left: 5rem;
    padding-bottom: 1rem;
    font-size: 16px;
}


