@font-face {
    font-family: "Aprova";
    src: url("css/font/Aprova-Regular.otf");
}
@font-face {
    font-family: "Aprova";
    src: url("css/font/Aprova-Bold.otf");
    font-weight: bold;
}

body {
    font: 14px "Aprova", Futura, sans-serif;
    margin: 0;
}



